SOAP/StudentImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.com" xmlns:intf="http://test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="initializeStudentCatalog">
    <complexType/>
   </element>
   <element name="initializeStudentCatalogResponse">
    <complexType/>
   </element>
   <element name="searchById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchByIdResponse">
    <complexType>
     <sequence>
      <element name="searchByIdReturn" type="impl:Student"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Student">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getAllStudents">
    <complexType/>
   </element>
   <element name="getAllStudentsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllStudentsReturn" type="impl:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertStudent">
    <complexType>
     <sequence>
      <element name="product" type="impl:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertStudentResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllStudentsResponse">

      <wsdl:part element="impl:getAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertStudentRequest">

      <wsdl:part element="impl:insertStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsRequest">

      <wsdl:part element="impl:getAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initializeStudentCatalogRequest">

      <wsdl:part element="impl:initializeStudentCatalog" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initializeStudentCatalogResponse">

      <wsdl:part element="impl:initializeStudentCatalogResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchByIdResponse">

      <wsdl:part element="impl:searchByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertStudentResponse">

      <wsdl:part element="impl:insertStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchByIdRequest">

      <wsdl:part element="impl:searchById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentImpl">

      <wsdl:operation name="initializeStudentCatalog">

         <wsdl:input message="impl:initializeStudentCatalogRequest" name="initializeStudentCatalogRequest">

       </wsdl:input>

         <wsdl:output message="impl:initializeStudentCatalogResponse" name="initializeStudentCatalogResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchById">

         <wsdl:input message="impl:searchByIdRequest" name="searchByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchByIdResponse" name="searchByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdl:input message="impl:getAllStudentsRequest" name="getAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllStudentsResponse" name="getAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertStudent">

         <wsdl:input message="impl:insertStudentRequest" name="insertStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertStudentResponse" name="insertStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentImplSoapBinding" type="impl:StudentImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="initializeStudentCatalog">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeStudentCatalogRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initializeStudentCatalogResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentImplService">

      <wsdl:port binding="impl:StudentImplSoapBinding" name="StudentImpl">

         <wsdlsoap:address location="http://localhost:8085/SOAP/services/StudentImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
